* text=auto
*.php text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.css text eol=lf
*.py text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.gradle text eol=lf
*.java text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.html text eol=lf
*.svg text eol=lf
*.code-workspace text eol=lf
*.resolved text eol=lf
*.pid text eol=lf
*.qwen3-optimized text eol=lf
.htaccess text eol=lf
.gitignore text eol=lf
*.sh text eol=lf
